@media screen and (max-width: 4000px) {
  .topics {
    width: 99%;
  }

  .topics .tutorialTitle {
    display: block;
    cursor: pointer;
  }

  .topicsContainer {
    width: 1%;
    min-width: 1px;
    margin-right: 0;
  }

  .topicsList {
    padding: 0px 10px 20px 1%;
    background-color: rgba(255, 255, 255, 0.98);

    box-shadow: 0 5px 25px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 5px 25px 0px rgba(0, 0, 0, 0.15);
  }

  .topicsList.hideFloating {
    display: none;
  }

  .paneCloser {
    display: inline-block;
  }
}

.str_view .match {
  color: #FF0000;
  font-weight: bold;
    border: 1px solid #ccc;
    background-color: #ffeeee;
}